:root {
	--main-bg-color: #242424;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	background-color: var(--main-bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg-color);
}

.text {
	font-size: 15px;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-shd {
	text-shadow: 4px 2px #000000;
}

.icon {
	width: 50px;
	height: 50px;
}

.link {
	text-decoration: none;
	outline: none;
	color: white;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	border-radius: 4px;
	border-style: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	max-width: none;
	min-height: 44px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 9px 20px 8px;
	position: relative;
	text-align: center;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
}

.button:hover,
.button:focus {
	opacity: 0.75;
}

.cmp-h {
	height: 25px;
}

.shadow {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
	-moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
}

@font-face {
	font-family: "Minecraftv1";
	src: url("assets/fonts/MinecraftTen-VGORe.ttf") format("truetype");
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
